.poster {
    margin: 15px 30px 15px 30px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 15px 0px;
    height: 233px;
}

.poster:hover {
    cursor: pointer;
    position: relative;
}

.poster-image {
    height: 233px;
    width: 160px;
}

.poster-image:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 15px 0px;
}

.poster-image::after {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}