section {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://image.tmdb.org/t/p/original//x4UkhIQuHIJyeeOTdcbZ3t3gBSa.jpg') no-repeat center center fixed;
    background-size: cover !important;
}

h1 {
    font-size: 60px;
    margin: 5px 0px 5px 0px;
}

h1, p {
    text-shadow: .5px .5px black ;
}

p {
    font-size: 22px;
}

.main-info {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.movie-details {
    display: flex;
    flex-direction: row;
}

.summary {
    align-self: center;
    width: 300px;
}

.details {
    border-right: white solid 1px;
    padding-right: 8px;
    margin-right: 8px;
}