html {
  background-color: rgb(52, 52, 52);
  overflow: hidden;
}

html, body, #root, .main-page{
  height: 100%;
}



.main-logo {
  background-color: rgb(52, 52, 52);
  height: 100px;
  width: auto;
  border: none;
}

.movie-reel-logo {
  height: 30px;
  width: auto;
}

#blockColorblindContent {
  display: none;
}