*{
  color: white;
}

html {
  height: 100%;
  background-color: rgb(52, 52, 52);
}

body, #root, .main-page{
  height: 100%;
}

nav {
  width: 100%;
  margin-left: 20px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

button {
  outline: none;
}

.main-logo {
  background-color: transparent;
  height: 100px;
  width: auto;
  margin-top: 10px;
  border: none;
  font-size: 25px;
  display:flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.main-logo:hover {
  cursor: pointer;
}

.movie-reel-logo {
  height: 50px;
  width: auto;
}

.search-bar {
  height: 15px;
  width: 150px;
  margin-right: 60px;
  color: black;
}
.error {
  top: 0;
  left: 0;
  transform: translate(38%, 500%);
}

#blockColorblindContent {
  display: none;
}

